[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Terminal=false
Categories=SMART-Technologies;
Name=SMART Board Tools
Comment=SMART Board Tools
StartupNotify=false
Exec=/usr/local/bin/smartsudo
Icon=SMART_Board_Software.png
Name[ca]=Eines de l'SMART Board
Comment[ca]=Eines de l'SMART Board
Name[de]=SMART Board-Werkzeuge
Comment[de]=SMART Board-Werkzeuge
Name[es]=Herramientas SMART Board
Comment[es]=Herramientas SMART Board
Name[eu]=Notebook tresnak
Comment[eu]=Notebook tresnak
Name[fi]=Notebook-työkalut
Comment[fi]=Notebook-työkalut
Name[fr]=Outils SMART Board
Comment[fr]=Outils SMART Board
Name[it]=Strumenti Notebook
Comment[it]=Strumenti Notebook
Name[nb]=SMART Board-verktøy
Comment[nb]=SMART Board-verktøy
Name[pt_BR]=Ferramentas do SMART Board
Comment[pt_BR]=Ferramentas do SMART Board
Name[ru]=Инструменты Notebook
Comment[ru]=Инструменты Notebook
Name[sv]=Notebook-verktyg
Comment[sv]=Notebook-verktyg
Name[zh_CN]=SMART Board 工具
Comment[zh_CN]=SMART Board 工具
Name[zh_TW]=SMART Board 工具
Comment[zh_TW]=SMART Board 工具
Name[el]=Εργαλεία SMART Board
Comment[el]=Εργαλεία SMART Board
Name[ta_IN]=SMART Board கருவிகள்
Comment[ta_IN]=SMART Board கருவிகள்
Name[te_IN]=SMART Board టూల్‌లు
Comment[te_IN]=SMART Board టూల్‌లు
Name[ml_IN]=SMART Board ടൂളുകള്‍
Comment[ml_IN]=SMART Board ടൂളുകള്‍
Name[mr_IN]=SMART Board साधने
Comment[mr_IN]=SMART Board साधने
Name[kn_IN]=SMART Board ಸಾಧನಗಳು
Comment[kn_IN]=SMART Board ಸಾಧನಗಳು
Name[hi_IN]=SMART Board उपकरण
Comment[hi_IN]=SMART Board उपकरण
Name[gu_IN]=SMART Board ટૂલ્સ
Comment[gu_IN]=SMART Board ટૂલ્સ
Name[ta]=SMART Board கருவிகள்
Comment[ta]=SMART Board கருவிகள்
Name[te]=SMART Board టూల్‌లు
Comment[te]=SMART Board టూల్‌లు
Name[ml]=SMART Board ടൂളുകള്‍
Comment[ml]=SMART Board ടൂളുകള്‍
Name[mr]=SMART Board साधने
Comment[mr]=SMART Board साधने
Name[kn]=SMART Board ಸಾಧನಗಳು
Comment[kn]=SMART Board ಸಾಧನಗಳು
Name[hi]=SMART Board उपकरण
Comment[hi]=SMART Board उपकरण
Name[gu]=SMART Board ટૂલ્સ
Comment[gu]=SMART Board ટૂલ્સ
