[sssd]
domains = {{ full_domain_name }}
config_file_version = 2

[domain/{{ full_domain_name }}]
id_provider = ad
ldap_id_mapping = True
krb5_realm = {{ full_domain_name }}
access_provider = ad
ad_domain = {{ full_domain_name }}
cache_credentials = True
krb5_store_password_if_offline = True
default_shell = /bin/bash
use_fully_qualified_names = False
fallback_homedir = /home/%u
access_provider = permit
case_sensitive = preserving
