[connection]
id={{ sarea }}
uuid=b14416c8-e75b-40a6-8319-7a7ec784015b
type=wifi
permissions=

[wifi]
mac-address-blacklist=
mode=infrastructure
ssid={{ sarea }}

[wifi-security]
auth-alg=open
key-mgmt=wpa-psk
psk={{ pasahitza }}

[ipv4]
dns-search=
method=auto

[ipv6]
addr-gen-mode=stable-privacy
dns-search=
method=auto
